<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>vuestart</title>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
  </head>
  <style>
    .class1{ background: #444; color: rgba(248, 244, 3, 0.89); }
  </style>
  <body>
    <div id="app"></div>
    
    <div id="subpage">
      <p>{{ message }}</p>
      <div v-html="message"></div>
    </div>
    
    <div id="vue_det">
      <h3>site : {{site}}</h3>
      <h3>alexa: {{alexa}}</h3>
    </div>

    <script type="text/javascript">
      var data ={ site: "tutorials", url: "www.tutorials.com", alexa: 1000}
      var vm = new Vue({ el: '#vue_det', data: data })

      document.write(vm.site == data.site)
      document.write(", ")
      vm.site = "newpage"
      document.write(data.site)

      data.alexa = 1234
      document.write("<p>" + vm.alexa + "</p>")

      data.alexa *= 2
      data.site += " changed!"
    </script>

    <div id="v-test">
      <h2>Examing v-bind</h2>
      <label for="r1">change color</label><input type="checkbox" v-model="use" id="r1"><br>
      <div v-bind:class="{'class1': use}">v-bind:class directive</div>
    </div>

    <div id="expression">
      {{ 5+5 }}<br>
      {{ ok ? 'YES' : 'NO' }}<br>
      {{ message.split('').reverse().join('') }}
      <div v-bind:id="'list-' + id">Introductory Tutorial</div>
    </div>
    <div id="directive"><p v-if="seen">Now you saw me</p></div>
    <div id="parameter"><pre><a v-bind:href="url">Entering</a></pre></div>
    <div id="vmodel"><p>{{message}}</p><input v-model="message"></div>
    <div id="reverse"><p>{{msg}}</p><button v-on:click="reverseMsg">Inverse String</button></div>
    <div id="filter">{{msg|capi}}</div>
    <div id="compute"><p>Original: {{msg}}</p><p>Reserved: {{reversedMsg}}</p></div>

    <script>var vm = new Vue({el:'#compute',data:{msg:'Computing'},computed:{reversedMsg:function(){return this.msg.split('').reverse().join('')}}})</script>
    <script>new Vue({el:'#filter',data:{msg:'modify'},filters:{capi:function(value){
      if(!value) return ''
      value = value.toString()
      return value.charAt(0).toUpperCase() + value.slice(1)
    }}})</script>
    <script>new Vue({el:'#reverse',data:{msg:'Try'},methods:{reverseMsg:function(){this.msg=this.msg.split('').reverse().join('')}}})</script>
    <script>new Vue({el:'#vmodel',data:{message:'Beginning'}})</script>
    <script>new Vue({el:'#parameter',data:{url:'http://nikkei.com'}})</script>
    <script>new Vue({el:'#directive',data:{seen:true}})</script>
    <script>new Vue({el:'#expression',data:{ok:true,message:'Beginner',id:1}});</script>
    <script>new Vue({el:'#v-test',data:{use:false}});</script>
  </body>
</html>
